---
---

<article class="flex flex-col gap-6">
  <p class="text-lg md:text-xl text-gray-300 leading-relaxed text-left">
    My name is Lautaro Robayna, I'm a Systems Engineering student. I'm currently looking for my first work experience and in the meantime creating projects and solutions that help me gain experience.
  </p>

  <p class="text-lg md:text-xl text-gray-300 leading-relaxed text-left">
    I mainly enjoy developing fullstack web applications, cybersecurity, and artificial intelligence. For development, I mostly use .NET and Angular or Node with Next.js. My goal is to eventually develop useful artificial intelligence models for different areas.
  </p>
</article>
