---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import ProjectsSection from "../components/projects/ProjectsSection.astro";
import About from "../components/about/About.astro";
import Contact from "../components/contact/Contact.astro";
---

<Layout
  title="Lautaro Robayna Portfolio - Full Stack Developer & Programmer"
  description="Personal portfolio of Lautaro Robayna, a Full Stack and Backend developer with experience in innovative projects. Explore my work and skills."
>
  <main>
    <Hero />
    <ProjectsSection />
    <About />
    <Contact />
  </main>
</Layout>
