<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
  <img
    class="rounded-full size-12"
    src="https://media.licdn.com/dms/image/v2/D4E03AQF-Ufr512PGxw/profile-displayphoto-crop_800_800/B4EZeYvWQTHwAI-/0/1750614241536?e=1758153600&v=beta&t=p8kOVDfiIPb4t4SvsgYI6NR9LaIg1ULh__JyPouR0z8"
    alt="Logo"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Inicio</a>
    <a href="#sobre-mi">Sobre Mi</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
